FASES/FASE 1/LM/ultimaJornada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="jornada" type="jornadaType"/>

  <xs:complexType name="partidoType">
    <xs:sequence>
      <xs:element type="xs:string" name="codigo"/>
      <xs:element type="xs:string" name="fecha"/>
      <xs:element type="xs:string" name="nombreE1"/>
      <xs:element type="xs:string" name="nombreE2"/>
      <xs:element type="xs:string" name="resultadoE1"/>
      <xs:element type="xs:string" name="resultadoE2"/>
    </xs:sequence>
    <xs:attribute type="restriccionJugado" name="jugado"/>
  </xs:complexType>

  <xs:simpleType name="restriccionJugado">
    <xs:restriction>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="datosLigaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jornadaType">
    <xs:sequence>
      <xs:element type="datosLigaType" name="datosLiga"/>
      <xs:element type="datosJornadaType" name="datosJornada"/>
      <xs:element type="partidosType" name="partidos"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datosJornadaType">
    <xs:sequence>
      <xs:element type="xs:string" name="codigo"/>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="fecha"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="partidosType">
    <xs:sequence>
      <xs:element type="partidoType" name="partido"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>